*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/java/org/techtown/hoxy/MainActivity.java
app/src/main/java/org/techtown/hoxy/ui/image/ImageFragment.java
app/src/main/res/drawable-v24/border.xml
app/src/main/res/drawable-v24/ic_review_selected.png
app/src/main/res/drawable-v24/linear_border_pupple.xml
app/src/main/res/drawable-v24/user1.png
app/src/main/res/drawable-v24/write.png
app/src/main/res/layout/activity_comment_write.xml
app/src/main/res/layout/comment_item_view.xml
app/src/main/res/layout/fragment_comment_all_view.xml
app/src/main/res/layout/fragment_comment_detail.xml
app/src/main/java/org/techtown/hoxy/MainActivity.java
app/src/main/java/org/techtown/hoxy/ui/image/ImageFragment.java
app/src/main/res/layout/activity_comment_write.xml
app/src/main/res/layout/comment_item_view.xml
app/src/main/res/layout/fragment_comment_all_view.xml
app/src/main/res/layout/fragment_comment_detail.xml
*.java
*.xml
